.idea
/venv

/src/database/redis_db/Redis-x64-5.0.14.1/00-RELEASENOTES
/src/database/redis_db/Redis-x64-5.0.14.1/dump.rdb
/src/database/redis_db/Redis-x64-5.0.14.1/EventLog.dll
/src/database/redis_db/Redis-x64-5.0.14.1/README.txt
/src/database/redis_db/Redis-x64-5.0.14.1/redis.windows.conf
/src/database/redis_db/Redis-x64-5.0.14.1/redis.windows-service.conf
/src/database/redis_db/Redis-x64-5.0.14.1/redis-benchmark.exe
/src/database/redis_db/Redis-x64-5.0.14.1/redis-benchmark.pdb
/src/database/redis_db/Redis-x64-5.0.14.1/redis-check-aof.exe
/src/database/redis_db/Redis-x64-5.0.14.1/redis-check-aof.pdb
/src/database/redis_db/Redis-x64-5.0.14.1/redis-check-rdb.exe
/src/database/redis_db/Redis-x64-5.0.14.1/redis-check-rdb.pdb
/src/database/redis_db/Redis-x64-5.0.14.1/redis-cli.exe
/src/database/redis_db/Redis-x64-5.0.14.1/redis-cli.pdb
/src/database/redis_db/Redis-x64-5.0.14.1/redis-server.exe
/src/database/redis_db/Redis-x64-5.0.14.1/redis-server.pdb
/src/database/redis_db/Redis-x64-5.0.14.1/RELEASENOTES.txt
/dump.rdb
